
@font-face {
  font-family: "Cream Cake";
  src: local("Cream Cake"),
   url("./fonts/Cream Cake.ttf") format("truetype");
  font-weight: bold;
  }

@font-face {
  font-family: "OstrichSans" ;
  src: url("./fonts/OstrichSans-Black.otf");
}

@font-face {
  font-family: "OstrichSansInline" ;
  src: url("./fonts/OstrichSansInline-Italic.otf");
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');

/* -------------------------------- My styles ----------------------- */

body{
  background-color: #131417; 
  /*background-image: url( './assets/waves.svg' );
  background-repeat: no-repeat;
background-size: cover;
display: block; */
}

.bodyContainer{
  
  margin-top: 75px;
  padding: 0px 10px;
  width:auto;
}

/* ---- SIDE Menu Styles ---- */


.banner{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center  ;
}

#header-title{
  font-family: 'OstrichSansInline';
  font-weight: 500;        
  color:rgb(28, 184, 219) ;
  font-size:8vw;
  text-align: center;

  margin-bottom: 20px;
}



svg {
  filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
}

#presentation-image{
  background-color: #343741;

  width: 200px; 
  height: 200px; 
  justify-self: center;

  border: solid 8px #1CB8DB;
  border-radius: 50%;

  overflow: hidden;
  animation: pulso 3s infinite; 

}

@keyframes pulso {
  0% {
    border-color: #1766c0; /* Color base */
  }
  50% {
    border-color: #1A9CBA; /* Color intermedio */
  }
  100% {
    border-color: #1766c0; 
  }
}

.two-columns{
  display: grid;
  grid-template-columns: 40% 60%;
}

.basic-text{
  color:white;
  font-size: large;
  text-align: justify;
  width: max-content;
  background-color: #343741;
  padding: 30px;
  border: solid 4px #565b69;
  border-radius: 10px;
  font-family: 'Lato', sans-serif;
}

.typewriter h1 {
  color: white;
  font-family: monospace;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid rgb(28, 184, 219);
  ; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(30, end),
    blink-caret .5s step-end infinite;
  display: inline;
  text-align: center;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #ccc }
}


/* ----- END NAV MENU Styles ---- */



/* ----- Section Styles ---- */

.section-box{
  width: 90%;
  margin:auto;
  padding: 20px;
  padding-bottom: 0px;
 /* width: fit-content; */
  border-width: 5px; 
  border-radius: 10px;
  position: relative;

/*
  box-shadow: 0 15px 25px rgba(129, 124, 124, 0.2);
  backdrop-filter: blur(4px);
  background-color: rgba(255, 255, 255, 0.2);
*/
}

.section-title{
  font-family: "OstrichSans";
  font-weight: 400;        
  color:rgb(28, 184, 219);
  font-size:4vw;
  text-align: center;

  margin-top: 15vh;
  margin-bottom: 0px;
}

.section-subtitle{
  font-family: "OstrichSans";
  font-weight: 400;        
  color:rgb(28, 184, 219);
  font-size:38px;
  text-align: left;

  margin-top: 10vh;
  margin-bottom: 0px;
}


.section-text{
  text-align: justify;

}

.basic-box-container{
  display: grid;
  grid-template-columns: 20% 20% 20%;
  margin-left: 20px;
  margin-right: 20px;
  column-gap: 100px;
  justify-content: center;
}

.basic-box{
  text-align: center;
  background-color: white;
  border: solid 0px #242124;
  border-radius: 50px;
  height: 200px;
  position: relative;
  object-fit: contain;
  padding-left: 10px;
  padding-right: 10px;

  display: flex;
  justify-content: center;
  align-items: center;

  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.basic-box-text{
  text-align:justify; 
  font-style: italic;
}

.basic-box-img{
  justify-self: center;
  margin: auto;
  max-height: 150px;
  bottom:5%;
  transform: translateX(-50%);
}

.basic-title{
  color: rgb(67, 57, 57);
  font-family: 'Montserrat', sans-serif;
}
/* ----- END About ME Styles ---- */





@media screen and (max-height: 600px) {
  .sidenav{

  }

}

@media screen and (max-width: 1500px) {
  .basic-box-container{
    justify-content: center;
    grid-template-columns: 40% 40%;
    row-gap: 40px;
  }

}

@media screen and (max-width: 900px) {
  .section-title{
    text-align: center;
    font-size: 75px;
  }

  .two-columns{
    grid-template-columns: 90%;
  }

  .cards-container{

    grid-template-columns: 40% 40%;
  
  }

  .section-text{
    text-align: justify;
  }

  .sidenav a{
      grid-template-columns: 100%;
  }
  .navMenu-text{
    text-align: center;
  }
  
}



@media screen and (max-width: 1300px) {

  .cards-container{
    grid-template-columns: 30% 30% 30%;
    column-gap: 20px;
  }
  }

@media screen and (max-width: 700px) {
  .section-box{

    padding-left: 5vw;
    padding-right: 5vw;
    
  }



  .navMenu-container{
    width: 90%;
  }
 
  .cards-container{
    grid-template-columns: 80%;
    column-gap: 20px;
  }

  .sidenav{
    display: none;
  }

  .bodyContainer{
    margin-left: 0;
  }

  #header-title{
    font-size:15vw;
  }

  #header-subtitle{
    font-size: 5vw;
  }

  .basic-box-container{
    grid-template-columns: 90%;
    row-gap: 30px;
    justify-content: center;

  }

}