
@font-face {
  font-family: "Cream Cake";
  src: local("Cream Cake"),
   url("./fonts/Cream Cake.ttf") format("truetype");
  font-weight: bold;
  }



/* -------------------------------- My styles ----------------------- */

body{
  background-color: #080808;
}

.bodyContainer{
  
  margin-top: 65px;
  padding: 0px 10px;
  width:auto;
}

/* ---- SIDE Menu Styles ---- */

.sidenav {
  height: 65px; /* Full-height: remove this if you want "auto" height */
  width: 100%; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #47D1CC; /* Black */
  overflow-x:initial; /* Disable horizontal scroll */
  display: grid;
  grid-template-columns: 20% 60% 20%;
  grid-template-rows: 100%;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  display: grid;
  grid-template-columns: 30% 70%;
  position: relative;
  transition: height 0.5s;
  -webkit-transition: height 0.5s;

}


/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

.side-icon{
  width: 50px;
  height: 50px;
  margin: auto;
}


#language-container{
  display: grid;
  grid-template-columns: 50% 50%;
  margin: 0 25% 10% 25%;
  

}

.language-icon{
  object-fit: contain;
  width: 4vw;
  border: solid black 4px;
  border-radius: 5px;
}

#header-title{
  font-family: 'Cream Cake';
  font-weight: 500;        
  color:white;
  font-size:8vw;
  text-align: center;

  margin-top: 0px;
  margin-bottom: 0px;
}

#header-subtitle{
  font-family: 'Lato', sans-serif;
  font-weight: 600;        
  color:rgb(28, 184, 219);
  font-size:2vw;
  margin-top: 0px;
  text-align: center;
}

.writing-container {
  margin:auto;
  width: fit-content;
	display: flex;
    table-layout:fixed;
}

svg {
  filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
}

svg:hover {
  transform: scale(1.1);
}

.basic-text{
  color:white;
  font-size: x-large;
  text-align: justify;
  width: max-content;
}

#writing-machine {
  position:absolute;
  right:0;
  width:0;
  background: #080808;
  border-left: 1px solid white;
  animation: escribir 5s steps(30) infinite alternate;
}

@keyframes escribir {
    from { width: 55% }
    to { width:27% }
}


/* ----- NAV MENU Styles ---- */
.navMenu-container{
  margin: auto;
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto auto;
}

.navMenu-item{
  text-align: center
}

.navMenu-text{
  font-family: 'LilGroteskRegular'; 
  color:white;
  font-size: x-large;
  text-align: start;
  text-shadow: 2px 2px 4px #000000;
}

.navMenu-icon{
  display: flexbox;
  align-items: flex-end;
}


/* ----- END NAV MENU Styles ---- */



/* ----- Section Styles ---- */

.section-box{
  background-color: #242124;
  width: 90%;
  margin:auto;
  padding: 20px;
 /* width: fit-content; */
  border-width: 5px; 
  border-radius: 10px;
  position: relative;

  margin-bottom: 5vh;
}

.char-img{
  position: relative;
  object-fit: contain;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;

  border: solid black 5px;
  border-radius: 10px;
  background-color: white;

}

.section-title{
  font-family: 'Cream Cake';
  font-weight: 400;        
  color:rgb(28, 184, 219);
  font-size:4vw;
  text-align: left;

  margin-top: 0px;
  margin-bottom: 0px;
}


.section-text{
  text-align: justify;
  width:fit-content
}


/* ----- END About ME Styles ---- */

/* ----- Card SECTION ---- */

.card{

  display: grid;
  align-items: center;
  justify-items: center;

  width: 250px;
  border: solid 8px #504b4b;
  border-radius: 8px;
  height: 150px;
  align-self: center;
  justify-self: center;
  justify-content: center;
 
  transition: .5s;
}

.card:hover{
  transform: scale(1.05);
}

.card-text{
  color:white;

  padding: 10px;
  padding-left: 0px;
  padding-right: 0px;

  margin-top:2px;
  margin-bottom: 2px;

  border-radius: black;
}

.card-icon{
  display: flex;
  align-self: center;
  justify-self: center;
  width: 80%;
  max-height: 100px;
  object-fit: contain;
}

.card-display{
  display: grid;
  text-align: center;
  justify-content: center;
}

.card-title{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  justify-content: center;
  align-self: center;
  margin-top: 1px;
  margin-bottom: 5px;
  color:white;
  
}

.card-level{
  display: grid;
  background-color: black;
  border: solid 1px black;
  border-radius: 10px ;
  margin-top: 5px;
  width: max-content;  
  justify-self: center;
 

  padding-right: 5px;
  padding-left: 5px;
}

.about-me{
  width: 100%;
}

.cards-container{
  place-items: center;
  width:100%;
  display: grid;
  grid-template-columns: 23% 23% 23% 23%;
  grid-gap: 2vw;

  justify-content: center;
  align-items: center;

}

.cards-container:hover > :not(:hover){
  opacity: 0.8;
}


/* ----- END Card SECTION ---- */






@media screen and (max-height: 600px) {

  .char-img{
    display: none;
  }
  .sidenav{

  }

}

@media screen and (max-width: 900px) {
  .section-title{
    text-align: center;
    font-size: 5vh;
  }
  .cards-container{

    grid-template-columns: 40% 40%;
  
  }

  .section-text{
    text-align: justify;
  }

  .sidenav a{
      grid-template-columns: 100%;
  }
  .navMenu-text{
    text-align: center;
  }
  
}

@media screen and (max-width: 1000px) {

.cards-container{
  grid-template-columns: 40% 40%;
  column-gap: 40px;
}
}

@media screen and (max-width: 700px) {
  .section-box{
    display: grid;
    grid-template-columns: 90%;
    padding-left: 5vw;
    padding-right: 5vw;
    
  }
  .navMenu-container{
    width: 90%;
  }
 

  .sidenav{
    display: none;
  }

  .bodyContainer{
    margin-left: 0;
  }

  #header-title{
    font-size:15vw;
  }

  #header-subtitle{
    font-size: 5vw;
  }

}