
@font-face {
  font-family: "Cream Cake";
  src: local("Cream Cake"),
   url("./fonts/Cream Cake.ttf") format("truetype");
  font-weight: bold;
  }



/* -------------------------------- My styles ----------------------- */

body{
  background-color: #080808;
}

.bodyContainer{
  
  margin-left: 20vw;
  padding: 0px 10px;
  width:auto;
}

#language-container{
  display: grid;
  grid-template-columns: 50% 50%;
  margin: 0 25% 10% 25%;
  

}

.language-icon{
  object-fit: contain;
  width: 4vw;
  border: solid black 4px;
  border-radius: 5px;
}

#header-title{
  font-family: 'Cream Cake';
  font-weight: 500;        
  color:white;
  font-size:8vw;
  text-align: center;

  margin-top: 0px;
  margin-bottom: 0px;
}

#header-subtitle{
  font-family: 'Lato', sans-serif;
  font-weight: 600;        
  color:rgb(28, 184, 219);
  font-size:2vw;
  margin-top: 0px;
  text-align: center;
}

.writing-container {
  margin:auto;
  width: fit-content;
	display: flex;
    table-layout:fixed;
}

svg {
  filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
}

svg:hover {
  transform: scale(1.1);
}

.basic-text{
  color:white;
  font-size: x-large;
  text-align: justify;
}

#writing-machine {
  position:absolute;
  right:0;
  width:0;
  background: black;
  border-left: 1px solid white;
  animation: escribir 5s steps(30) infinite alternate;
}

@keyframes escribir {
    from { width: 55% }
    to { width:27% }
}


/* ----- NAV MENU Styles ---- */
.navMenu-container{
  margin: auto;
  width: 50%;

  display: grid;
  grid-template-columns: auto auto auto auto;
}

.navMenu-item{
  margin-top: 5vh;
  text-align: center
}

.navMenu-text{
  font-family: 'LilGroteskRegular'; 
  color:white;
  font-size: medium;
  text-align: start;
  text-shadow: 2px 2px 4px #000000;
}

.navMenu-icon{
  display: flexbox;
  align-items: flex-end;
}

@media screen and (max-width: 600px) {
  .navMenu-container{
    width: 90%;
  }
}


/* ----- END NAV MENU Styles ---- */



/* ----- Section Styles ---- */

.section-box{
  background-color: #242124;
  width: 80%;
  margin:auto;
  padding: 20px;
 /* width: fit-content; */
  border-width: 5px; 
  border-radius: 10px;
  position: relative;
  display: grid;
  grid-template-columns: 30% 70%;

  margin-bottom: 5vh;
}

.char-img{
  position: relative;
  object-fit: contain;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;

  border: solid black 5px;
  border-radius: 10px;
  background-color: white;

}

.section-title{
  font-family: 'Cream Cake';
  font-weight: 400;        
  color:rgb(28, 184, 219);
  font-size:4vw;
  text-align: left;

  margin-top: 0px;
  margin-bottom: 0px;
}


.section-text{
  text-align: justify;
  width:max-content
}


/* ----- END About ME Styles ---- */


/* ---- SIDE Menu Styles ---- */

.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 20vw; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #47D1CC; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;

}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  display: grid;
  grid-template-columns: 30% 70%;
  position: relative;
  transition: height 0.5s;
  -webkit-transition: height 0.5s;

}


/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}



@media screen and (max-height: 600px) {

  .char-img{
    display: none;
  }

}

@media screen and (max-width: 900px) {
  .section-title{
    text-align: center;
    font-size: 5vh;
  }

  .section-text{
    text-align: justify;
  }

  .sidenav a{
      grid-template-columns: 100%;
  }
  .navMenu-text{
    text-align: center;
  }
  
}

@media screen and (max-width: 650px) {
  .section-box{
    display: grid;
    grid-template-columns: 90%;
    padding-left: 5vw;
    padding-right: 5vw;
    
  }



  .sidenav{
    display: none;
  }

  .bodyContainer{
    margin-left: 0;
  }

  #header-title{
    font-size:15vw;
  }

  #header-subtitle{
    font-size: 5vw;
  }

}