.card{

    display: grid;
    align-items: center;
    justify-items: center;
  
    width: 250px;
    border: solid 0px #FFD700;
    border-radius: 8px;
    height: 150px;
    align-self: center;
    justify-self: center;
    justify-content: center;
    box-shadow: #1CB8DB 0px 0px 35px 4px;
    transition: .5s;
  }
  
  .card:hover{
    transform: scale(1.05);
    cursor:pointer;
  }
  
  .card-text{
    color:white;
  
    padding: 10px;
    padding-left: 0px;
    padding-right: 0px;
  
    margin-top:2px;
    margin-bottom: 2px;
  
    border-radius: black;
    font-size: larger;
    font-family: 'Lato', sans-serif;
  }
  
  .card-icon{
    display: flex;
    align-self: center;
    justify-self: center;
    width: 80%;
    max-height: 100px;
    object-fit: contain;
  }
  
  .card-display{
    display: grid;
    text-align: center;
    justify-content: center;
  }
  
  .card-title{
    font-family: 'Lato', sans-serif;    
    justify-content: center;
    align-self: center;
    margin-top: 1px;
    margin-bottom: 5px;
    color:white;
    margin-bottom: 15px;
    
  }
  
  .card-level{
    display: grid;
    box-shadow: 0 15px 25px rgba(129, 124, 124, 0.2);
    backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, 0.2);    
    border: solid 0px black;
    border-radius: 10px ;
    margin-top: 10px;
    width: max-content;  
    justify-self: center;
    z-index: 3;
  
    padding-right: 5px;
    padding-left: 5px;
  }
  
  .about-me{
    width: 100%;
  }
  
  .cards-container{
    place-items: center;
    width:100%;
    display: grid;
    grid-template-columns: 23% 23% 23% 23%;
    grid-gap: 2vw;
  
    justify-content: center;
    align-items: center;
  
  }

  .cards-container:hover > :not(:hover){
    opacity: 0.8;
  }

  @media screen and (max-width: 1300px) {

    .cards-container{
      grid-template-columns: 30% 30% 30% ;
      column-gap: 40px;
    }
    
    }

    @media screen and (max-width: 950px) {

      .cards-container{
        display: grid;
        grid-template-columns: 40% 40%;
        column-gap: 40px;
        row-gap: 30px;
      }
    }

    @media screen and (max-width: 800px) {

      .cards-container{
        display: grid;
        grid-template-columns: 80%;
        column-gap: 40px;
        row-gap: 30px;
      }
      
      }