.sidenav {
    height: fit-content; 
    width: 100%; 
    position: fixed; 
    z-index: 1;
    top: 0; 
    left: 0;  
    background-color:#2a2d31;


    border-bottom: solid #303438 2px;
    overflow-x:initial; /* Disable horizontal scroll */
    display: grid;
    grid-template-columns: 70% 20%;
    align-content: center;
    padding-left: 40px;
    
  }
  
  .sidenav a {
    text-decoration: none;
    font-size: 25px;
    display: grid;
    grid-template-columns: 30% 70%;
    position: relative;
    transition: height 0.5s;
    -webkit-transition: height 0.5s;
    align-items: center;
  
  }

  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .side-icon{
    width: 50px;
    height: 50px;
    margin: auto;
  }

  /* ----- NAV MENU Styles ---- */
.navMenu-container{
    margin: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  
  .navMenu-item{
    display: grid;
    grid-template-columns: auto auto;
    text-align: center;
    column-gap: 10px;
    align-items: center;
    justify-content: center;
    align-content: center;
    width: max-content;
  }
  
  .navMenu-text{
    font-family: 'Lato', sans-serif; 
    color: white;
    font-size: 1.4rem;
    text-align: start;
    text-shadow: 2px 2px 4px #000000;
    padding-top: 0px;
  }

  