.sidenav {
    height: 75px; /* Full-height: remove this if you want "auto" height */
    width: 100%; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;  
    background-color:#2a2d31;
/*
    box-shadow: 0 15px 25px rgba(129, 124, 124, 0.2);
    backdrop-filter: blur(40px);
    background-color: rgba(255, 255, 255, 0.2);
      /* Black */

    border-bottom: solid #303438 2px;
    overflow-x:initial; /* Disable horizontal scroll */
    display: grid;
    grid-template-columns: 70% 20%;
    align-content: center;
    padding-left: 40px;
    
  }
  
  .sidenav a {
    text-decoration: none;
    font-size: 25px;
    display: grid;
    grid-template-columns: 30% 70%;
    position: relative;
    transition: height 0.5s;
    -webkit-transition: height 0.5s;
    align-items: center;
  
  }
  
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .side-icon{
    width: 50px;
    height: 50px;
    margin: auto;
  }

  /* ----- NAV MENU Styles ---- */
.navMenu-container{
    margin: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  
  .navMenu-item{
    display: grid;
    grid-template-columns: auto auto;
    text-align: center;
    column-gap: 10px;
    align-items: center;
    justify-content: center;
    align-content: center;
    width: max-content;
  }
  
  .navMenu-text{
    font-family: 'Lato', sans-serif; 
    color:white;
    font-size: x-large;
    text-align: start;
    text-shadow: 2px 2px 4px #000000;
    padding-top: 0px;
  }
  